// ______________ colors ______________

$primary: #fba332;
$light: #e5e5e5;
$secondary: #4e5962;
$dark: hsl(0, 0%, 4%);
$white: #e5e5e5;

$danger: #c52929;
$warning: #e8680d;
$ok: #69bf23;

// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;

// radius
$radius: 5px;
