// ______________ colors ______________

$primary: #fba332;
$light: #e5e5e5;
$secondary: #4e5962;
$dark: hsl(0, 0%, 4%);
$white: #e5e5e5;

$danger: #c52929;
$warning: #e8680d;
$ok: #69bf23;

// ====== graph color
$red: #d97979;
$violet: #d288b5;
$blue: #9c99df;
$yellow: #e49745;
$blue2: #a3e5e0;
$green: #6fd864;

// shadow
$shadow: rgba(151, 151, 151, 0.821) 2px 10px 20px;

// radius
$radius: 5px;
