@import '../../SASS/reset';
@import '../../SASS/variables';

.userCardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1536px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.userCardContainer {
  max-height: 80vh; /* Ajustez cette valeur en fonction de vos besoins */
  overflow-y: auto;
  .userCard{
    background-color: #fff;
    border: 1px solid $secondary;
    box-shadow: $shadow;
    padding: 0.5rem;
    border-radius: $radius;
    cursor: pointer;
    margin: 0.5rem;

    .userCardHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        .boldTxt{

            font-weight: bold;
        }
    }

  }
}
